
<div class="para">
  <h2>Lab Execsics_2</h2>

  <p [style.fontSize.px]="fontSize" 
     [style.fontFamily]="fontFamily" 
     [style.Color]="fontColor"     > A lamp can only light another lamp when it continues to burn in its own flame 
    
    </p>
  

</div>
<div class="container">
  <button class="button"  (click)="increase()">Increase</button>
<button class="button" (click)="decrease()">Decrease</button>
<button class="button" (click)="reset()" >Reset</button>
<button class="button" (click)="font()">Font Family</button>
<button class="button" (click)="color()">Font Color</button>

</div>


<div class="ang">
  <h4>Angular Small Work</h4>
</div>
